
<body class="account-body accountbg">
    <!--top-navbar-->
    <header>
    </header><!--end-top-navbar-->

    <!-- page content-->
    <!-- Log In page -->
    <div class="row vh-100 ">
        <div class="col-12 align-self-center">
            <div class="auth-page">
                <div class="card auth-card shadow-lg">
                    <div class="card-body">
                        <div class="px-3">
                            <div class="auth-logo-box">
                                <a href="#" class="logo logo-admin"><img src="./assets/images/logo-sm.png" height="55" alt="logo" class="auth-logo"></a>
                            </div><!--end auth-logo-box-->

                            <div class="text-center auth-logo-text">
                                <h4 class="mt-0 mb-3 mt-5">Recovery Password For MDP</h4>
                                <p class="text-muted mb-0">Enter your Email and instructions will be sent to you!</p>
                            </div> <!--end auth-logo-text-->
                            <div *ngIf="success_message" class=" row alert alert-success alert-dismissible col-xs-12" data-auto-dismiss role="alert" id="successMessage">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true"><i class="mdi mdi-close"></i></span>
                                </button>
                                <strong> {{success_message}}</strong>
                            </div>
                            <div *ngIf="error_message" class=" row alert alert-danger alert-dismissible col-xs-12" data-auto-dismiss role="alert" id="successMessage">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true"><i class="mdi mdi-close"></i></span>
                                </button>
                                <strong> {{error_message}}</strong>
                            </div>
                            <form class="form-horizontal auth-form my-4" (ngSubmit)="forgot_pass()" [formGroup]="ngForm" >

                                <div class="form-group">
                                    <label i18n="@@forgot_password_email" for="useremail">Email</label><b i18n="@@forgot_password_email_required" class="required"> *</b>
                                    <div class="input-group mb-3">
                                        <span class="auth-form-icon">
                                            <i class="dripicons-mail"></i>
                                        </span>
                                        <input type="email" class="form-control" id="useremail" formControlName="email" i18n-placeholder="@@forgot_password_email_Pholder" placeholder="Enter Registered Email"  [ngClass]="{ 'is-invalid': submitted && f.email.errors }" required/>
                                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                            <div i18n="@@forgot_password_email_validation1" *ngIf="f.email.errors.required">email is required</div>
                                            <div i18n="@@forgot_password_email_validation2" *ngIf="f.email.errors.email">Email must be a valid email address</div> 
                                        </div>
                                    </div>
                                </div><!--end form-group-->

                                <div class="form-group mb-0 row">
                                    <div class="col-12 mt-2">
                                        <button class="btn btn-primary btn-round btn-block waves-effect waves-light" type="submit">Reset <i class="fas fa-sign-in-alt ml-1"></i></button>
                                    </div><!--end col-->
                                </div> <!--end form-group-->
                            </form><!--end form-->

                        </div><!--end /div-->

                        <div class="m-3 text-center text-muted">
                            <p class="">Remember It ?  <a [routerLink]="" (click)="login()" class="text-primary ml-2">Sign in here</a></p>
                        </div>
                    </div><!--end card-body-->
                </div><!--end card-->
                
            </div><!--end auth-page-->
        </div><!--end col-->
    </div><!--end row-->
    <!-- End Log In page -->
    <!-- end-page content-->

    <!-- footer section-->
  
            <footer class="footer text-center text-sm-left">
                &nbsp;&nbsp;&copy; 2020 MDP <span class="text-muted d-none d-sm-inline-block float-right">Developed <i class="mdi mdi-heart text-danger"></i> by Aphroecs</span>
            </footer><!--end footer-->
        
    <!-- end page-wrapper -->
    
</body>
 <script>
        $('.dropify').dropify();
        // Datatable
        $('#datatable').DataTable();
    </script>

