

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <form class="form-horizontal form-material mb-0 form-parsley">
                    <div class="form-group row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <label i18n="@@integrations_settings_integrations"> My App</label>
                            <hr>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <div class="alert alert-secondary border-0" role="alert">
                                        <strong>Well done!</strong> You successfully read this important alert message.
                                        <button type="button" class="btn btn-light waves-effect waves-light ml-5">Connect</button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <div class="alert alert-primary border-0" role="alert">
                                        <strong>Well done!</strong> You successfully read this important alert message.
                                        <button type="button" class="btn btn-light waves-effect waves-light ml-5">Connect</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="form-group mb-0">
                        <button class="btn btn-danger btn-sm text-light px-4 mt-3 float-right mb-0 ml-2" type="reset" type="reset">Reset</button>
                        <button  class="btn btn-primary btn-sm text-light px-4 mt-3 float-right mb-0" type="submit">Save</button>
                        <!-- <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error_message}}</div> -->
                    </div><!--end form-group-->
                </form>
                </div><!--end card-body-->
            </div><!--end card-->
        </div> <!--end col-->
    </div><!--end row-->
