

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                <form class="form-horizontal form-material mb-0 form-parsley">
                    <div class="form-group row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <div class="form-group row">
                                <div class="col-md-8">
                                    <label i18n="@@schedule-intervals_dayPart">DAY PARTS</label>
                                </div>
                                <div class="col-md-4">
                                    <a href="#"><p class="fa fa-plus-square text-primary"> ADD DAY PART</p></a>
                                </div>
                            </div>
                            <hr>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <div class="form-group row">
                                <div class="col-md-8">
                                    <label i18n="@@schedule-intervals_timeBlock">TIME BLOCKS</label>
                                </div>
                                <div class="col-md-4">
                                   <a href="#"> <p class="fa fa-plus-square text-primary"> ADD TIME BLOCK</p></a>
                                </div>
                            </div>
                            <hr>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="form-group mb-0">
                        <button class="btn btn-danger btn-sm text-light px-4 mt-3 float-right mb-0 ml-2" type="reset" type="reset">Reset</button>
                        <button  class="btn btn-primary btn-sm text-light px-4 mt-3 float-right mb-0" type="submit">Save</button>
                        <!-- <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error_message}}</div> -->
                    </div><!--end form-group-->
                </form>
                </div><!--end card-body-->
            </div><!--end card-->
        </div> <!--end col-->
    </div><!--end row-->
