<!-- main-menu-inner-->
              
                <div class="main-menu-inner">
                    <div class="menu-body slimscroll">
                        <div id="dashboard" class="main-icon-menu-pane">
                            <div class="title-box">
                                <h6 class="menu-title">Dashboard</h6>
                            </div>
                            <ul class="nav">
                                <li class="nav-item" routerLinkActive="active"><a [routerLink]="['dashboard']" id="dashboardinid" class="nav-link"><i class="dripicons-meter"></i>DASHBOARD</a></li>
                                <li class="nav-item" routerLinkActive="active"><a [routerLink]="['manage/users']"  class="nav-link"><i class="dripicons-user"></i>EMPLOYEE</a></li>
                                <li class="nav-item"><a class="nav-link" [routerLink]="['manage/positions']"><i class="dripicons-crosshair"></i>POSITIONS</a></li>
                                <li class="nav-item"><a class="nav-link" [routerLink]="['manage/locations']"><i class="dripicons-location"></i>LOCATION</a></li>
                                <li class="nav-item"><a class="nav-link" [routerLink]="['manage/groups']"><i class="dripicons-user-group"></i>GROUPS</a></li>
                                <li class="nav-item"><a class="nav-link" href="tags.php"><i class="dripicons-tags"></i>TAGS</a></li>
                                <li class="nav-item"><a class="nav-link" href="announcements.php"><i class="dripicons-broadcast"></i>ANNOUNCEMENTS</a></li>
                                <li class="nav-item"><a class="nav-link" href="labor_cost.php"><i class="dripicons-suitcase"></i>LABOR COST</a></li>
                                <li class="nav-item"><a class="nav-link" href="setting.php"><i class="dripicons-gear"></i>SETTING</a></li>
                                <li class="nav-item"><a class="nav-link" href="add-member.php"><i class=""></i></a></li>
                                <li class="nav-item"><a class="nav-link" href="add-position.php"><i class=""></i></a></li>
                                <li class="nav-item"><a class="nav-link" href="add-location.php"><i class=""></i></a></li>
                                <li class="nav-item"><a class="nav-link" href="add-group.php"><i class=""></i></a></li>
                                <li class="nav-item"><a class="nav-link" href="add-tag.php"><i class=""></i></a></li>
                                <li class="nav-item"><a class="nav-link" href="add-announcement.php"><i class=""></i></a></li>

                                <li class="nav-item"><a class="nav-link" href="profile.php"><i class=""></i></a></li>
                                <li class="nav-item"><a class="nav-link" href="account.php"><i class=""></i></a></li>
                            </ul>
                        </div><!-- end dashboard -->
                        <div id="schedule" class="main-icon-menu-pane">
                            <div class="title-box">
                                <h6 class="menu-title">Schedule</h6>
                            </div>
                            <ul class="nav">
                                <li class="nav-item"><a class="nav-link" href="full-schedule.php"><i class="dripicons-clock"></i>FULL SCHEDULE</a></li>
                                <li class="nav-item"><a class="nav-link" href="#"><i class="dripicons-user"></i>MY SCHEDULE</a></li>
                                <li class="nav-item"><a class="nav-link" href="#"><i class="dripicons-document-edit"></i>PENDING APPROVAL</a></li>
                                <li class="nav-item"><a class="nav-link" href="#"><i class="dripicons-wrong"></i>UNAVAILABILITY</a></li>
                            </ul>
                        </div><!-- end scedule-->
                        <div id="tasks" class="main-icon-menu-pane">
                            <div class="title-box">
                                <h6 class="menu-title">Tasks</h6>
                            </div>
                            <ul class="nav">
                                <li class="nav-item"><a class="nav-link" href="task.php"><i class="dripicons-document"></i>TASKS</a></li>
                                <li class="nav-item"><a class="nav-link" href="mytask.php"><i class="dripicons-document-edit"></i>MY TASKS</a></li>
                                <li class="nav-item"><a class="nav-link" href="#"><i class="dripicons-document-new"></i>ASSIGNED</a></li>
                                <li class="nav-item"><a class="nav-link" href="#"><i class="dripicons-document-remove"></i>COMPLETED</a></li>

                            </ul>
                        </div><!-- end  tasks-->
                    </div><!--end menu-body-->
                </div><!-- end main-menu-inner-->

             <!-- end main-menu-inner-->

