 <!-- page content-->
 <div class="page-content">
    <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="float-right">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a [routerLink]="" >MDP</a></li>
                                <li class="breadcrumb-item"><a [routerLink]="" (click)="positions()">Positions</a></li>
                                <li class="breadcrumb-item ">Edit Position</li>
                            </ol>
                        </div>
                        <h4 class="page-title"> Edit Position</h4>
                    </div><!--end page-title-box-->
                </div><!--end col-->
            </div>
            <!-- end page title end breadcrumb -->
            <div class="row">
                <div class="col-lg-12 mx-auto">
                    <div class="card dr-pro-pic">
                        <div class="card-body form-card-body">

                            <div *ngIf="error" class="alert alert-danger alert-dismissible col-xs-12" data-auto-dismiss role="alert" id="successMessage">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true"><i class="mdi mdi-close"></i></span>
                                </button>
                                <strong> {{error_message}}</strong>
                            </div>

                            <form *ngFor="let p of position" class="form-horizontal form-material mb-0 form-parsley row" (ngSubmit)="update()" [formGroup]="ngForm_editPosition" novalidate>
                                    
                                    
                                    <div class="col-md-12">
                                         <input type="hidden" placeholder="" class="form-control" formControlName="positionid" [ngModel]="p.id" id="id" [ngClass]="{ 'is-invalid': submitted && f.companyID.errors }"  />
                                    </div>
                                    
                                    <div class="col-md-12">
                                        <!-- <label>Company ID</label>     -->
                                        <input type="hidden" placeholder="" class="form-control" formControlName="companyID" value="companyID" [ngClass]="{ 'is-invalid': submitted && f.companyID.errors }"  />
                                        <!-- <div *ngIf="submitted && f.companyID.errors" class="invalid-feedback"></div>
                                        <div *ngIf="f.companyID.errors.required">Company Id is required</div> -->
                                    </div>
                                
                                    <div class="form-group col-md-12">
                                        <label i18n="@@edit_position_name">POSITION NAME</label><b i18n="@@edit_position_name_required" class="required"> *</b>
                                        <input type="text" i18n-placeholder="@@edit-position-name_Pholder" placeholder="e.g. Assistant manager, Bartender, Server" class="form-control" formControlName="name" [ngModel]="p.name" id="position" [ngClass]="{ 'is-invalid': submitted && f.name.errors }"/>
                                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                            <div i18n="@@edit-position_name_validation" *ngIf="f.name.errors.required">Name is required</div>
                                        </div>
                                    </div>

                                    <!-- <div class="form-group col-md-12">
                                            <label>EMPLOYEES</label>
                                            <input type="text" placeholder="Add Employees" class="form-control" formControlName="userid" id="userid" [ngClass]="{ 'is-invalid': submitted && f.userid.errors }"/>
                                    </div> -->
                                    <div class="form-group col-md-12">
                                        <label i18n="@@edit_position_employee">EMPLOYEES</label>
                                        <ng-select [multiple]="true" [(ngModel)]="seluser" bindLabel="name" bindValue="id" formControlName="userid" i18n-placeholder="@@edit-position-add-emp_Pholder" placeholder="Add Employee"> 
                                            <ng-option *ngFor="let user of users" [value]="user.id">{{user.name}} </ng-option>
                                        </ng-select>
                                    </div>

                                    <!-- <div class="hidden" *ngFor="let user of p.position_users" >
                                        <input type="hidden" formControlName="userid" [(ngModel)]="user.user_id"  class="form-control" id="id">
                                    </div> -->

                                    <div class="form-group col-md-12">
                                        <div class="row">
                                        <div class="col-sm-9">
                                            <label i18n="@@edit_position_schedule">SCHEDULE</label>
                                            <p i18n="@@edit_position_schedule_desc">If you do not wish to see this position it can be hidden from your schedule.</p>
                                        </div>
                                        <div class="col-md-3 text-right">
                                            <div class="custom-control custom-switch switch-success">
                                                <input type="checkbox" class="custom-control-input" id="customSwitchSuccess">
                                                <label class="custom-control-label text-muted" for="customSwitchSuccess"></label>
                                            </div>
                                        </div>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-12">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <label i18n="@@edit_position_externalID">External ID (optional)</label>
                                                <p i18n="@@edit_position_externalID_desc">Optional string identifier to be used on reports.</p>
                                            </div>
                                            <div class="col-md-4">
                                                <input type="text" i18n-placeholder="@@edit_position_externalID_Pholder" placeholder="Enter External ID" class="form-control" name="external_id" id="external_id" />
                                            </div>
                                        </div>
                                    </div>

                                    
                                    <div class="form-group col-md-12">
                                        <div class="">
                                            <label i18n="@@edit_position_wage">WAGES</label>
                                            <p i18n="@@edit_position_wage_desc">Base wage is applied to all employees on this position,
                                                unless their wages are specifically defined.</p>
                                        </div>
                                    </div>
                                    <hr>


                                    <div class="form-group col-sm-12">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <label i18n="@@edit_position_baseWage">BASE WAGES</label>
                                                <input type="text" placeholder="$" class="form-control" name="base_wage" id="base_wage" required/>
                                            </div>
                                            <div class="col-md-5">
                                                <label i18n="@@edit_position_effectiveFrom">EFFECTIVE FROM</label>
                                                <label class="mb-3"></label>
                                                <input type="date" class="form-control" placeholder="2017-06-04" id="mdate">
                                            </div>
                                            <div class="col-md-2">
                                                <div class="dropdown d-inline-block float-right">
                                                            <a class="nav-link dropdown-toggle mr-n2 mt-n2" id="drop11" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                                                <i class="fas fa-ellipsis-v text-muted"></i>
                                                            </a>
                                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="drop11">
                                                                <a class="dropdown-item" [routerLink]="">Add Rate</a>
                                                                <a class="dropdown-item" [routerLink]="">Delete Rate</a>
                                                            </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="form-group">
                                        <div class="form-check">
                                            <label class="required" for="invalidCheck">
                                                (*) Mandatory fields
                                            </label>
                                        </div>
                                    </div><!--end form-group-->
                                    <div class="form-group mb-0 col-md-12">
                                        <button class="btn btn-danger btn-sm text-light px-4 mt-3 float-right mb-0 ml-2" (click)="cancelEdit()">Cancel</button>
                                        <button class="btn btn-primary btn-sm text-light px-4 mt-3 float-right mb-0" type="submit">Update</button>
                                    </div><!--end form-group-->
                                    <!-- <div  class="row col-xs-12">
                                        <p><flash-messages></flash-messages></p>
                                    </div> -->
                                </form>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    
            