 
            <!-- Left Sidenav -->
            <div class="left-sidenav">
                <div class="main-icon-menu">
                    <nav class="nav">
                        <a href="#dashboard" class="nav-link" data-toggle="tooltip-custom" data-placement="top" title="" data-original-title="DASHBOARD">
                            <svg class="nav-svg" xmlns="http://www.w3.org/2000/svg" id="Layer_3" viewBox="40 -20 500 500">
                                <path class="svg-primary" d="M256 32C132.288 32 32 132.288 32 256s100.288 224 224 224 224-100.288 224-224S379.712 32 256 32zm135.765 359.765C355.5 428.028 307.285 448 256 448s-99.5-19.972-135.765-56.235C83.972 355.5 64 307.285 64 256s19.972-99.5 56.235-135.765C156.5 83.972 204.715 64 256 64s99.5 19.972 135.765 56.235C428.028 156.5 448 204.715 448 256s-19.972 99.5-56.235 135.765z"/>
                                <path d="M200.043 106.067c-40.631 15.171-73.434 46.382-90.717 85.933H256l-55.957-85.933zM412.797 288A160.723 160.723 0 0 0 416 256c0-36.624-12.314-70.367-33.016-97.334L311 288h101.797zM359.973 134.395C332.007 110.461 295.694 96 256 96c-7.966 0-15.794.591-23.448 1.715L310.852 224l49.121-89.605zM99.204 224A160.65 160.65 0 0 0 96 256c0 36.639 12.324 70.394 33.041 97.366L201 224H99.204zM311.959 405.932c40.631-15.171 73.433-46.382 90.715-85.932H256l55.959 85.932zM152.046 377.621C180.009 401.545 216.314 416 256 416c7.969 0 15.799-.592 23.456-1.716L201.164 288l-49.118 89.621z"/>
                            </svg>
                            <span class="dashboard">DASHBOARD</span>

                        </a><!--end Dashboard-->

                        <a href="#schedule" class="nav-link" data-toggle="tooltip-custom" data-placement="top" title="" data-original-title="SCHEDULE">
                            <svg class="nav-svg" version="1.1" id="Layer_3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            viewBox="40 -30 512 512"  xml:space="preserve">
                                <g>
                                    <g>
                                        <path d="M276,68.1v219c0,3.7-2.5,6.8-6,7.7L81.1,343.4c-2.3,0.6-3.6,3.1-2.7,5.4C109.1,426,184.9,480.6,273.2,480
                                            C387.8,479.3,480,386.5,480,272c0-112.1-88.6-203.5-199.8-207.8C277.9,64.1,276,65.9,276,68.1z"/>
                                    </g>
                                    <path class="svg-primary" d="M32,239.3c0,0,0.2,48.8,15.2,81.1c0.8,1.8,2.8,2.7,4.6,2.2l193.8-49.7c3.5-0.9,6.4-4.6,6.4-8.2V36c0-2.2-1.8-4-4-4
                                        C91,33.9,32,149,32,239.3z"/>
                                </g>
                            </svg>
                            <span class="schedule">SCHEDULE</span>


                        </a><!--end schedule-->
                        <a href="#tasks" class="nav-link" data-toggle="tooltip-custom" data-placement="top" title="" data-original-title="TASKS">

                            <svg class="nav-svg" version="1.1" id="Layer_3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            viewBox="60 -40 480 480"  xml:space="preserve">
                                <path d="M70.7 164.5l169.2 81.7c4.4 2.1 10.3 3.2 16.1 3.2s11.7-1.1 16.1-3.2l169.2-81.7c8.9-4.3 8.9-11.3 0-15.6L272.1 67.2c-4.4-2.1-10.3-3.2-16.1-3.2s-11.7 1.1-16.1 3.2L70.7 148.9c-8.9 4.3-8.9 11.3 0 15.6z"/>
                                <path class="svg-primary" d="M441.3 248.2s-30.9-14.9-35-16.9-5.2-1.9-9.5.1S272 291.6 272 291.6c-4.5 2.1-10.3 3.2-16.1 3.2s-11.7-1.1-16.1-3.2c0 0-117.3-56.6-122.8-59.3-6-2.9-7.7-2.9-13.1-.3l-33.4 16.1c-8.9 4.3-8.9 11.3 0 15.6l169.2 81.7c4.4 2.1 10.3 3.2 16.1 3.2s11.7-1.1 16.1-3.2l169.2-81.7c9.1-4.2 9.1-11.2.2-15.5z"/>
                                <path d="M441.3 347.5s-30.9-14.9-35-16.9-5.2-1.9-9.5.1S272.1 391 272.1 391c-4.5 2.1-10.3 3.2-16.1 3.2s-11.7-1.1-16.1-3.2c0 0-117.3-56.6-122.8-59.3-6-2.9-7.7-2.9-13.1-.3l-33.4 16.1c-8.9 4.3-8.9 11.3 0 15.6l169.2 81.7c4.4 2.2 10.3 3.2 16.1 3.2s11.7-1.1 16.1-3.2l169.2-81.7c9-4.3 9-11.3.1-15.6z"/>
                            </svg>
                            <span class="tasks">TASKS</span>
                        </a><!--end task-->

                        <a href="#message" class="nav-link" data-toggle="tooltip-custom" data-placement="top" title="" data-original-title="MESSAGE">
                            <svg class="nav-svg" version="1.1" id="Layer_3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            viewBox="70 -50 512 512"  xml:space="preserve">
                                <g>
                                    <g>
                                        <path class="" d=" M362.6666666666667 213.3333333333334H320V256H362.6666666666667M277.3333333333333 213.3333333333334H234.6666666666667V256H277.3333333333333M192 213.3333333333334H149.3333333333333V256H192M426.6666666666667 405.3333333333333H85.3333333333333C61.8666666666667 405.3333333333333 42.6666666666667 386.1333333333334 42.6666666666667 362.6666666666667V-21.3333333333333L128 64H426.6666666666667C450.1333333333334 64 469.3333333333333 83.2 469.3333333333333 106.6666666666667V362.6666666666667C469.3333333333333 386.3466666666667 450.1333333333334 405.3333333333333 426.6666666666667 405.3333333333333z" />
                                    </g>

                                </g>
                            </svg>
                            <span class="message">MESSAGE</span>

                        </a><!--end message-->

                        <a href="#newsfeed" class="nav-link" data-toggle="tooltip-custom" data-placement="top" title="" data-original-title="NEWSFEED">
                            <svg class="nav-svg" version="1.1" id="Layer_3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            viewBox="80 -50 512 512"  xml:space="preserve">
                                <g>
                                    <g>
                                        <path class="" d="M476 444.8c17.2998 10 39 -4.59961 35.5996 -24.7998l-72 -432c-2.59961 -15.2998 -18.7998 -24.2002 -33 -18.2002l-124.6 52.2002l-63.5 -77.2998c-14 -17.1006 -42.5 -7.7998 -42.5 15.7998v80.5l240.9 293.5c4.69922 5.7002 -3.10059 13.2002 -8.60059 8.2998
                                        l-287.3 -253.2l-106.3 44.6006c-18 7.59961 -20.2998 32.7998 -2.2002 43.2002z" />
                                    </g>

                                </g>
                            </svg>
                            <span class="newsfeed">NEWSFEED</span>
                        </a><!--end newsfeed-->

                        <a href="#report" class="nav-link" data-toggle="tooltip-custom" data-placement="top" title="" data-original-title="REPORT">
                            <svg class="nav-svg" version="1.1" id="Layer_3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            viewBox="60 -50 680 680"  xml:space="preserve">
                                <g>
                                    <g>
                                        <path class="" d="M552 384c13.2549 0 24 -10.7451 24 -24v-312c0 -26.5098 -21.4902 -48 -48 -48h-472c-30.9277 0 -56 25.0723 -56 56v272c0 13.2549 10.7451 24 24 24h40v8c0 13.2549 10.7451 24 24 24h464zM56 48c4.41602 0 8 3.58398 8 8v248h-16v-248c0 -4.41602 3.58398 -8 8 -8z
                                        M292 64c6.62695 0 12 5.37305 12 12v8c0 6.62695 -5.37305 12 -12 12h-152c-6.62695 0 -12 -5.37305 -12 -12v-8c0 -6.62695 5.37305 -12 12 -12h152zM500 64c6.62695 0 12 5.37305 12 12v8c0 6.62695 -5.37305 12 -12 12h-152c-6.62695 0 -12 -5.37305 -12 -12v-8
                                        c0 -6.62695 5.37305 -12 12 -12h152zM292 160c6.62695 0 12 5.37305 12 12v8c0 6.62695 -5.37305 12 -12 12h-152c-6.62695 0 -12 -5.37305 -12 -12v-8c0 -6.62695 5.37305 -12 12 -12h152zM500 160c6.62695 0 12 5.37305 12 12v8c0 6.62695 -5.37305 12 -12 12h-152
                                        c-6.62695 0 -12 -5.37305 -12 -12v-8c0 -6.62695 5.37305 -12 12 -12h152zM500 256c6.62695 0 12 5.37305 12 12v40c0 6.62695 -5.37305 12 -12 12h-360c-6.62695 0 -12 -5.37305 -12 -12v-40c0 -6.62695 5.37305 -12 12 -12h360z" />
                                    </g>

                                </g>
                            </svg>
                            <span class="report">REPORT</span>
                        </a><!--end report-->

                        <a href="#clock" class="nav-link" data-toggle="tooltip-custom" data-placement="top" title="" data-original-title="CLOCK">
                            <svg class="nav-svg" version="1.1" id="Layer_3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            viewBox="20 -50 590 590"  xml:space="preserve">
                                <g>
                                    <g>
                                        <path class="" d="M256 440c137 0 248 -111 248 -248s-111 -248 -248 -248s-248 111 -248 248s111 248 248 248zM313.1 89.9004c5.40039 -3.90039 12.9004 -2.7002 16.8008 2.59961l28.1992 38.7998c3.90039 5.40039 2.80078 12.9004 -2.59961 16.7998l-63.5 46.2002v137.7c0 6.59961 -5.40039 12 -12 12h-48c-6.59961 0 -12 -5.40039 -12 -12v-168.3c0 -3.7998 1.7998 -7.40039 4.90039 -9.7002z" />
                                    </g>

                                </g>
                            </svg>
                            <span class="time">T.CLOCK</span>
                        </a><!--end clock-->
                    </nav><!--end nav-->
                </div><!--end main-icon-menu-->
                <div class="main-menu-inner">
                    <div class="menu-body slimscroll">
                        <div id="dashboard" class="main-icon-menu-pane">
                            <div class="title-box">
                                <h6 class="menu-title">{{ 'SUB-MENU.dashboard' | translate }}</h6>
                            </div>
                            <ul class="nav">
                                <li class="nav-item" routerLinkActive="active"><a [routerLink]="['dashboard']" id="dashboardiniddd" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false}"><i class="dripicons-meter"></i>DASHBOARD</a></li>
                                <li class="nav-item"><a class="nav-link" [routerLink]="['manage/users']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false}"><i class="dripicons-user"></i>EMPLOYEES</a></li>
                                <li class="nav-item"><a class="nav-link" [routerLink]="['manage/positions']"routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }"><i class="dripicons-crosshair"></i>POSITIONS</a></li>
                                <li class="nav-item"><a class="nav-link" [routerLink]="['manage/locations']"routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }"><i class="dripicons-location"></i>LOCATIONS</a></li>
                                <li class="nav-item"><a class="nav-link" [routerLink]="['manage/groups']"routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }"><i class="dripicons-user-group"></i>GROUPS</a></li>
                                <li class="nav-item"><a class="nav-link" [routerLink]=""><i class="dripicons-tags"></i>TAGS</a></li>
                                <li class="nav-item"><a class="nav-link" [routerLink]=""><i class="dripicons-broadcast"></i>ANNOUNCEMENTS</a></li>
                                <li class="nav-item"><a class="nav-link" [routerLink]=""><i class="dripicons-suitcase"></i>LABOR COST</a></li>
                                <li class="nav-item"><a class="nav-link" [routerLink]="['settings']"routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }"><i class="dripicons-gear"></i>SETTINGS</a></li>
                                <!-- <li class="nav-item"><a class="nav-link" href="add-member.php"><i class=""></i></a></li>
                                <li class="nav-item"><a class="nav-link" href="add-position.php"><i class=""></i></a></li>
                                <li class="nav-item"><a class="nav-link" href="add-location.php"><i class=""></i></a></li>
                                <li class="nav-item"><a class="nav-link" href="add-group.php"><i class=""></i></a></li>
                                <li class="nav-item"><a class="nav-link" href="add-tag.php"><i class=""></i></a></li>
                                <li class="nav-item"><a class="nav-link" href="add-announcement.php"><i class=""></i></a></li>

                                <li class="nav-item"><a class="nav-link" href="profile.php"><i class=""></i></a></li>
                                <li class="nav-item"><a class="nav-link" href="account.php"><i class=""></i></a></li> -->
                            </ul>
                        </div><!-- end dashboard -->
                        <div id="schedule" class="main-icon-menu-pane">
                            <div class="title-box">
                                <h6 class="menu-title">Schedule</h6>
                            </div>
                            <ul class="nav">
                                <li class="nav-item"><a class="nav-link" [routerLink]=""><i class="dripicons-clock"></i>FULL SCHEDULE</a></li>
                                <li class="nav-item"><a class="nav-link" [routerLink]=""><i class="dripicons-user"></i>MY SCHEDULE</a></li>
                                <li class="nav-item"><a class="nav-link" [routerLink]=""><i class="dripicons-document-edit"></i>PENDING APPROVAL</a></li>
                                <li class="nav-item"><a class="nav-link" [routerLink]=""><i class="dripicons-wrong"></i>UNAVAILABILITY</a></li>
                            </ul>
                        </div><!-- end scedule-->
                        <div id="tasks" class="main-icon-menu-pane">
                            <div class="title-box">
                                <h6 class="menu-title">Tasks</h6>
                            </div>
                            <ul class="nav">
                                <li class="nav-item"><a class="nav-link" [routerLink]=""><i class="dripicons-document"></i>TASKS</a></li>
                                <li class="nav-item"><a class="nav-link" [routerLink]=""><i class="dripicons-document-edit"></i>MY TASKS</a></li>
                                <li class="nav-item"><a class="nav-link" [routerLink]=""><i class="dripicons-document-new"></i>ASSIGNED</a></li>
                                <li class="nav-item"><a class="nav-link" [routerLink]=""><i class="dripicons-document-remove"></i>COMPLETED</a></li>
                            </ul>
                        </div><!-- end  tasks-->
                    </div><!--end menu-body-->
                </div><!-- end main-menu-inner-->
                </div><!--end leftside-nav -->
             
              
            
              

