
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                   <form action="">
                        <div class="form-row">
                            <div class="col-md-0"></div>
                                <div class="col-md-12">
                                <p>You haven't made any payments yet</p>
                            </div>
                            <div class="col-md-0"></div>
                        </div>
                   </form>
                </div><!--end card-body-->
            </div><!--end card-->
        </div> <!--end col-->
    </div><!--end row-->

