
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="float-right">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="dashboard.php">MDP</a></li>
                            <li class="breadcrumb-item"><a href="profile.php">User</a></li>
                            <li class="breadcrumb-item active">Profile</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Profile</h4>
                </div><!--end page-title-box-->
            </div><!--end col-->
        </div>
        <!-- end page title end breadcrumb -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body  met-pro-bg">
                        <div class="met-profile">
                            <div class="row" *ngFor="let u of user">
                                <div class="col-lg-4 align-self-center mb-3 mb-lg-0">
                                    <div class="met-profile-main">
                                        <div class="met-profile-main-pic">
                                            <img src="./assets/images/users/user-4.jpg" alt="" class="rounded-circle">
                                            <span class="fro-profile_main-pic-change">
                                                <i class="fas fa-camera"></i>
                                                <!-- <input class="file-upload" type="file" accept="image/*"/> -->
                                            </span>
                                        </div>
                                        <div class="met-profile_user-detail" >
                                            <h5 class="met-user-name">{{u.fname}} {{u.lname}}</h5>
                                            <tr>
                                                <td *ngFor="let p of u.positions; let isLast=last" class="mb-0 met-user-name-post">{{p.name}} {{isLast ? '' : ', '}}</td>
                                            </tr>
                                        </div>
                                    </div>
                                </div><!--end col-->
                                <div class="col-lg-4 ml-auto">
                                    <ul class="list-unstyled personal-detail">
                                        <li *ngIf="u.telephone" class=""><i class="dripicons-phone mr-2 text-info font-18"></i> <b> phone </b> : {{u.telephone}}</li>
                                        <li *ngIf="u.email" class="mt-2"><i class="dripicons-mail text-info font-18 mt-2 mr-2"></i> <b> Email </b> : {{u.email}}</li>
                                        <!-- <li class="mt-2"><i class="dripicons-location text-info font-18 mt-2 mr-2"></i> <b>Location</b> : USA</li> -->
                                    </ul>
                                    <div class="button-list btn-social-icon">
                                        <button type="button" class="btn btn-blue btn-round">
                                            <i class="fab fa-facebook-f"></i>
                                        </button>

                                        <button type="button" class="btn btn-secondary btn-round ml-2">
                                            <i class="fab fa-twitter"></i>
                                        </button>

                                        <button type="button" class="btn btn-pink btn-round  ml-2">
                                            <i class="fab fa-dribbble"></i>
                                        </button>
                                    </div>
                                </div><!--end col-->
                            </div><!--end row-->
                        </div><!--end f_profile-->
                    </div><!--end card-body-->
                    <div class="card-body" *ngFor="let u of user">
                        <ul class="nav nav-pills mb-0" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="general_detail_tab" data-toggle="pill" [routerLink]="" (click)="edit_user(u.id)" href="#general_detail" >Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="education_detail_tab" data-toggle="pill" [routerLink]="" (click)="add_unavailability(u.id)"  href="#Unavailability" >Unavailability</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="portfolio_detail_tab" data-toggle="pill" [routerLink]="" (click)="add_Wage(u.id)">Wages</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="settings_detail_tab" data-toggle="pill"[routerLink]="" (click)="add_note(u.id)">Notes</a>
                            </li>
                        </ul>
                    </div><!--end card-body-->
                </div><!--end card-->
            </div><!--end col-->
        </div><!--end row-->
