

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <form class="form-horizontal form-material mb-0 form-parsley">
                    <div class="form-group row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <p i18n="@@account-activity_settings_msg">Account activity lists all open sessions associated with your account and allows you to sign out any of them. A session is added any time your account is used to log into MDP from a web browser or a mobile device.</p>
                                </div>
                            </div>
                            <hr>
                        </div>
                        <div class="col-md-2"></div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <p>3 session</p>
                                </div>
                                <div class="col-md-4"></div>
                                <div class="col-md-4">
                                    <button type="button" class="btn btn-primary waves-effect waves-light">Sign Out All Session</button>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="table-responsive-sm">
                                    <table class="table mb-0">
                                        <thead class="table-primary">
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">First Name</th>
                                                <th scope="col">Last Name</th>
                                                <th scope="col">Username</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td class="">Mark</td>
                                                <td class="">Otto</td>
                                                 <td class="">@mdo</td>
                                            </tr>
                                            <tr >
                                                <th scope="row">2</th>
                                                <td>Jacob</td>
                                                <td>Thornton</td>
                                                <td>@fat</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3</th>
                                                <td class="">Larry</td>
                                                <td class="">the Bird</td>
                                                <td class="">@twitter</td>
                                            </tr>
                                        </tbody>
                                    </table><!--end /table-->
                                </div><!--end /tableresponsive-->
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="form-group mb-0">
                        <button class="btn btn-danger btn-sm text-light px-4 mt-3 float-right mb-0 ml-2" type="reset" type="reset">Reset</button>
                        <button  class="btn btn-primary btn-sm text-light px-4 mt-3 float-right mb-0" type="submit">Save</button>
                        <!-- <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error_message}}</div> -->
                    </div><!--end form-group-->
                </form>
                </div><!--end card-body-->
            </div><!--end card-->
        </div> <!--end col-->
    </div><!--end row-->
