

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <form class="form-horizontal form-material mb-0 form-parsley">
                    <div class="form-group row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <label class="text-primary"><b i18n="@@time-off_settings_timeOff">TIME OFF SETTINGS</b></label>
                            <hr>
                            <div class="form-group row">
                                <div class="col-md-8">
                                    <p i18n="@@time-off_settings_timeOffRequest"> Time off requests Allow employees to request time off </p>
                                </div>
                                <div class="col-md-4">
                                    <div class="custom-control custom-switch switch-success">
                                        <input type="checkbox" class="custom-control-input" formControlName="" id="customSwitchSuccess32">
                                        <label class="custom-control-label text-muted" for="customSwitchSuccess32"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>

                     <div class="form-group row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <div class="form-group row">
                                <div class="col-md-8">
                                    <p i18n="@@time-off_settings_approval-manager">Approval Require manager approval of time off requests</p>
                                </div>
                                <div class="col-md-4">
                                    <div class="custom-control custom-switch switch-success">
                                        <input type="checkbox" class="custom-control-input" formControlName="" id="customSwitchSuccess33">
                                        <label class="custom-control-label text-muted" for="customSwitchSuccess33"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <div class="form-group row">
                                <div class="col-md-8">
                                    <p i18n="@@time-off_settings_cutoffTime">Cutoff time Time off requests must be submitted in advance</p>
                                </div>
                                <div class="col-md-4">
                                    <div class="custom-control custom-switch switch-success">
                                        <input type="checkbox" class="custom-control-input" formControlName="" id="customSwitchSuccess34">
                                        <label class="custom-control-label text-muted" for="customSwitchSuccess34"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <div class="form-group row">
                                <div class="col-md-8">
                                    <p i18n="@@time-off_settings_comments">Comments Require comments for time off requests</p>
                                </div>
                                <div class="col-md-4">
                                    <div class="custom-control custom-switch switch-success">
                                        <input type="checkbox" class="custom-control-input" formControlName="" id="customSwitchSuccess35">
                                        <label class="custom-control-label text-muted" for="customSwitchSuccess35"></label>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </div>
                        <div class="col-md-2"></div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <label class="text-primary"><b i18n="@@time-off_settings_timeOffCapping">Time off capping</b></label>
                            <div class="form-group row">
                                <div class="col-md-8">
                                    <p i18n="@@time-off_settings_timeOffCapping_desc">Enable paid time off tracking Allow capping leave for paid time off</p>
                                </div>
                                <div class="col-md-4">
                                    <div class="custom-control custom-switch switch-success">
                                        <input type="checkbox" class="custom-control-input" formControlName="" id="customSwitchSuccess36">
                                        <label class="custom-control-label text-muted" for="customSwitchSuccess37"></label>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="form-group mb-0">
                        <button class="btn btn-danger btn-sm text-light px-4 mt-3 float-right mb-0 ml-2" type="reset" type="reset">Reset</button>
                        <button  class="btn btn-primary btn-sm text-light px-4 mt-3 float-right mb-0" type="submit">Save</button>
                        <!-- <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error_message}}</div> -->
                    </div><!--end form-group-->
                </form>
                </div><!--end card-body-->
            </div><!--end card-->
        </div> <!--end col-->
    </div><!--end row-->
