<div class="container-fluid">
                    <!-- Page-Title -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title-box">
                                <div class="float-right">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="dashboard.php">MDP</a></li>
                                        <li class="breadcrumb-item"><a href="all-staff.php">Employee</a></li>
                                        <li class="breadcrumb-item active">All Staff</li>
                                    </ol>
                                </div>
                                <h4 class="page-title">All Staff</h4>
                            </div><!--end page-title-box-->
                        </div><!--end col-->
                    </div>
                    <!-- end page title end breadcrumb -->
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <button type="button" class="btn btn-primary px-4 mt-0 mb-3" onclick="location.href='add-member.php'"><i class="mdi mdi-plus-circle-outline mr-2"></i>Add New Member</button>
                                    <div class="table-responsive">
                                        <table id="datatable" class="table">
                                            <thead class="thead-light">
                                            <tr>
                                                <th>Name</th>
                                                <th>Positions</th>
                                                <th>Locations</th>
                                                <th>Email</th>
                                                <th>Phone</th>
                                                <th>Status</th>
                                                <th class="text-right">Action</th>
                                            </tr><!--end tr-->
                                            </thead>

                                            <tbody>
                                            <tr *ngFor="let user of users">
                                                <td><a href="#"><img src="./assets/images/users/user-10.jpg" alt="" class="thumb-sm rounded-circle mr-2">{{user.name}} {{user.lname}}</a></td>
                                               <td><tr *ngFor="let position of user.positions"><td>{{position.name}}</td></tr></td>
                                                <td><tr *ngFor="let team of user.teams"><td>{{team.name}}</td></tr></td>
                                                <td>{{user.email}}</td>
                                                <td>+91 {{user.telephone}}</td>
                                                <td>Active</td>

                                                <td class="text-right">
                                                    <a href="#" class="mr-2"><i class="fas fa-edit text-info font-16"></i></a>
                                                    <a href="#"><i class="fas fa-trash-alt text-danger font-16"></i></a>
                                                </td>
                                            </tr><!--end tr-->
                                            </tbody>
                                        </table>
                                    </div>
                                </div><!--end card-body-->
                            </div><!--end card-->
                        </div> <!--end col-->
                    </div><!--end row-->
                </div><!-- end-page content-->