<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form class="needs-validation" method="" novalidate>
                    <div class="row">
                        <div class="col-md-8">
                            <h5 class="text-primary">Unavailability sets</h5>
                        </div>
                        <div class="col-md-4">
                            <button type="button" class="btn btn-primary px-4 float-right mb-0 ml-2 mt-2"
                                data-toggle="modal" data-animation="bounce" data-target=".bs-example-modal-lg"
                                [routerLink]=""><i class="mdi mdi-plus-circle-outline mr-2"></i>Add new set</button>
                        </div>
                    </div>
                    <!--end row-->
                    <div class="form-group mb-0">
                        <button class="btn btn-danger btn-sm text-light px-4 mt-3 float-right mb-0 ml-2" type="reset"
                            type="reset">Reset</button>
                        <button class="btn btn-primary btn-sm text-light px-4 mt-3 float-right mb-0"
                            type="submit">Save</button>
                    </div>
                    <!--end form-group-->
                </form>
            </div>
            <!--end card-body-->
        </div>
        <!--end card-->
    </div>
    <!--end col-->
</div>
<!--end row-->
<div class="row">
    <p class="text-center ml-2">No one can be available all the time. Set your availability here below to indicate when
        you are not.</p>
</div>
<!--end row-->