
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                   <form action="">
                    <div class="form-group row">
                        <div class=""></div>
                            <div class="col-md-12">
                                <label>Subscription plan</label>
                                  <hr>
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <p>Free</p>
                                        </div>
                                        <div class="col-md-6">
                                          <button class="btn btn-primary" type="button">Purchase</button>
                                        </div>
                                    </div>
                                <hr>
                            </div>
                    </div>
                    <div class="form-group row">
                        <div class=""></div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="card">
                                            <div class="card-body card-color">
                                                <div class="pricingTable1 text-center">
                                                    <h6 class="title1 py-3 title-color m-0">Free plan</h6>
                                                        <p class="text-muted p-3 mb-0">Schedule faster, communicate better and get things done!.</p>
                                                        <div class="text-center py-4">
                                                            <h3 class="amount">Free<small class="font-12 text-muted"></small></h3>
                                                        </div>
                                                        <ul class="list-unstyled pricing-content-2 py-3 border-0">
                                                            <li>Shift scheduling</li>
                                                            <li>Shift alarms</li>
                                                            <li>Shift offers</li>
                                                            <li>Available shifts</li>
                                                            <li>Time off requests</li>
                                                            <li>News sharing</li>
                                                            <li>Task management</li>
                                                            <li>Native iOS and Android apps</li>
                                                            <li>Long term scheduling</li>
                                                            <li>Unlimited employees</li>
                                                            <li>Multiple locations</li>
                                                        </ul>
                                                </div><!--end pricingTable-->
                                            </div><!--end card-body-->
                                        </div> <!--end card-->
                                    </div><!--end col-->

                                    <div class="col-lg-4">
                                        <div class="card">
                                            <div class="card-body card-color">
                                                <span class="badge badge-pink a-animate-blink mt-0">POPULAR</span>
                                                <div class="pricingTable1 text-center">
                                                    <h6 class="title1 py-3 title-color m-0">Premium plan</h6>
                                                        <p class="text-muted p-3 mb-0">Optimize your labor spending as you schedule!</p>
                                                        <div class="text-center py-4">
                                                            <h3 class="amount">$2,00<small class="font-12 text-muted">per user per month</small></h3>
                                                        </div>
                                                        <ul class="list-unstyled pricing-content-2 py-3 border-0">
                                                            <li>Shift scheduling</li>
                                                            <li>Shift alarms</li>
                                                            <li>Shift offers</li>
                                                            <li>Available shifts</li>
                                                            <li>Time off requests</li>
                                                            <li>News sharing</li>
                                                            <li>Task management</li>
                                                            <li>Native iOS and Android apps</li>
                                                            <li>Long term scheduling</li>
                                                            <li>Unlimited employees</li>
                                                            <li>Multiple locations</li>
                                                            <li>Availability</li>
                                                            <li>Private and group chats</li>
                                                            <li>Mobile time clock</li>
                                                            <li>Timesheets</li>
                                                            <li>Timesheet history</li>
                                                            <li>Timesheet approvals</li>
                                                            <li>Early clock-in prevention</li>
                                                            <li>Auto clock-out</li>
                                                            <li>Geofencing</li>
                                                            <li>Shift swaps</li>
                                                            <li>Shift templates</li>
                                                            <li>Slots on available shifts</li>
                                                            <li>Labor cost management</li>
                                                            <li>Budgeting </li>
                                                            <li>Overtime tracking</li>
                                                            <li>Holiday pay</li>
                                                            <li>Labor % </li>
                                                            <li>Google Calendar synchronization</li>
                                                            <li>Day parts</li>
                                                            <li>SMS shift alarms</li>
                                                        </ul>
                                                        <a [routerLink]="" class="btn btn-block  btn-secondary btn-square btn-skew btn-outline-dashed mt-3 py-3 font-18"><span>purchase</span></a>
                                                </div><!--end pricingTable-->
                                            </div><!--end card-body-->
                                        </div> <!--end card-->
                                    </div><!--end col-->

                                    <div class="col-lg-4">
                                        <div class="card">
                                            <div class="card-body card-color">
                                                <div class="pricingTable1 text-center">
                                                    <h6 class="title1 py-3 title-color m-0">Business plan</h6>
                                                        <p class="text-muted p-3 mb-0">Monitor results and run your business efficiently!</p>
                                                        <div class="text-center py-4">
                                                            <h3 class="amount">$4,00<small class="font-12 text-muted">per user per month</small></h3>
                                                        </div>
                                                        <ul class="list-unstyled pricing-content-2 py-3 border-0">
                                                            <li>Shift scheduling</li>
                                                            <li>Shift alarms</li>
                                                            <li>Shift offers</li>
                                                            <li>Available shifts</li>
                                                            <li>Time off requests</li>
                                                            <li>News sharing</li>
                                                            <li>Task management</li>
                                                            <li>Native iOS and Android apps</li>
                                                            <li>Long term scheduling</li>
                                                            <li>Unlimited employees</li>
                                                            <li>Multiple locations</li>
                                                            <li>Availability</li>
                                                            <li>Private and group chats</li>
                                                            <li>Mobile time clock</li>
                                                            <li>Timesheets</li>
                                                            <li>Timesheet history</li>
                                                            <li>Timesheet approvals</li>
                                                            <li>Early clock-in prevention</li>
                                                            <li>Auto clock-out</li>
                                                            <li>Geofencing</li>
                                                            <li>Shift swaps</li>
                                                            <li>Shift templates</li>
                                                            <li>Slots on available shifts</li>
                                                            <li>Labor cost management</li>
                                                            <li>Budgeting </li>
                                                            <li>Overtime tracking</li>
                                                            <li>Holiday pay</li>
                                                            <li>Labor % </li>
                                                            <li>Google Calendar synchronization</li>
                                                            <li>Day parts</li>
                                                            <li>SMS shift alarms</li>
                                                            <li>Kiosk time clock</li>
                                                            <li>Reports </li>
                                                            <li>No shows</li>
                                                            <li>Sick callouts</li>
                                                            <li>Late arrivals</li>
                                                            <li>Salary support</li>
                                                            <li>Newsfeed page settings</li>
                                                            <li>Newsfeed page settings</li>
                                                            <li>Tags</li>
                                                            <li>Dedicated account management</li>
                                                        </ul>
                                                        <a [routerLink]="" class="btn btn-block  btn-secondary btn-square btn-skew btn-outline-dashed mt-3 py-3 font-18"><span>Purchase</span></a>
                                                </div><!--end pricingTable-->
                                            </div><!--end card-body-->
                                        </div> <!--end card-->
                                    </div><!--end col-->
                                </div><!--end row-->
                            </div>
                    </div>
                   </form>
                </div><!--end card-body-->
            </div><!--end card-->
        </div> <!--end col-->
    </div><!--end row-->
